<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Política
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Política</ion-title>
    </ion-toolbar>
  </ion-header>

<app-card-template imgUrl="https://cleantechnica.com/files/2021/08/Tess-infront-of-the-old-bridge-entrance-1-e1628774269537.jpg"
                   author="David Waterworth"
                   date="24/08/2021"
                   title="Electric Vehicles Getting Ready To Rocket In Australia"
                   resume="The Australian Electric Vehicles Association (AEVA) has moved its reporting schedule from once a year to twice a year. The EV landscape is changing so fast that they need to report more often. The current report highlights that more EVs have been sold in the …"
></app-card-template>
</ion-content>
