<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deportes</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-card-template imgUrl="https://images.wsj.net/im-390283/social"
                     author="Tarini Parti, Feliz Solomon"
                     date="24/08/2021"
                     title="Kamala Harris Pushes Ahead With Vietnam Trip Despite Possible 'Havana Syndrome' Incident..."
                     resume="Kamala Harris Pushes Ahead With Vietnam Trip Despite Possible 'Havana Syndrome' Incident...\r\n\n \n \n \n (Third column, 4th story, link)"
  ></app-card-template>
</ion-content>
