<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="list.length > 0">
    <app-card
      *ngFor="let x of list"
      title="{{x.title}}"
      urlToImage="{{x.urlToImage}}"
      author="{{x.author}}"
      publishedAt="{{x.publishedAt}}"
      description="{{x.description}}"
      url="{{x.url}}"
      source="{{x.source.name}}"
    ></app-card>
  </div>

  <ion-card *ngIf="list.length === 0">
    <ion-skeleton-text animated></ion-skeleton-text>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-card-content>
    <ion-skeleton-text animated></ion-skeleton-text>
  </ion-card>
</ion-content>
